@keyframes backgroundOpacity
{
  0%   {background: rgba($dark-color, 0.0);;}
  100% {background: rgba($dark-color, 0.9);;}
}
@keyframes blurChange {
  0%  {  filter: blur(0px);}
  100% {   filter: blur(20px);}
}

@keyframes zoomIn {
  0% {  transform: scale(0.9); opacity: 0;}
  100% { transform: scale(1); opacity: 1;}
}

@keyframes zoomOut {
  0% {  transform: scale(1.1);opacity: 0;}
  100% { transform: scale(1) ;opacity: 1;}
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes rotate {
  20%{
    transform: rotateZ(-2deg);
  }
  40%{
    transform: rotateZ(1.5deg);
  }
  60%{
    transform: rotateZ(-1.5deg);
  }
  80%{
    transform: rotateZ(1deg);
  }
  100%{
    transform: rotateZ(-0.5deg);
  }
}

@keyframes loadEvent {
  0% {
    transform: scale(1.1) rotateX(-80deg);
    opacity: 0;
  }

  100% {
    transform: scale(1) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes inciteScroll {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: -30px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes moverFondo {
  0%   {background-position: 0 0;}
  25% {background-position: 50% 0;}
  50% {background-position: 90% 0;}
  60% {background-position: 60%;}
  75% {background-position: 40%;}
  100%  {background-position: 0 0;}
}

@keyframes desplazarDerecha {
  0% { left: -200px; opacity: 0}
  100% { left: 0px; opacity: 1}
}
@keyframes desplazarIzquierda {
  0% { right: -200px; opacity: 0}
  100% { right: 0px; opacity: 1}
}

@keyframes desplazarAbajo {
  0% { top: -20px; opacity: 0}
  100% { top: 0px; opacity: 1}
}

@keyframes dropdown {

  0%{
    opacity: 0;
    top: -200px;

  }
  100%{
    opacity: 1;
    top: 0px;
  }

}

@keyframes opacity {
  0%{
    opacity: 0;}
  100%{
    opacity: 1;
  }
}