#misEntradas{
  display: flex;
  flex-direction: column;
  >article{
    margin-bottom: $standard-separation;
    position: relative;
    span.visible{

      padding: $standard-separation 0;
      z-index: 2;
      position: relative;
      flex: 1 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      @include box-shadow;
      border-radius: 4px;
      color: $primary-color-text;

      >.imgEntrada{
        transition-duration: 0.4s;
        position: absolute;
        width: 100%;
      }

      .qrEntrada{
        display: none;
      }

      h2, p{
        z-index: 2;
        margin: calc(#{$standard-separation}*2);
      }
      a.enlaceEvento{
        z-index: 2;
        color: $primary-color-text;
        text-decoration: none;
      }

      >.degradadoEntrada{
        width: 100%;
        position: absolute;
        height: 100%;
      }

      &:hover{

      }
    }

    span.desplegable{
      background: $primary-color-text;
      overflow: hidden;
      display: none;

      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: $standard-separation;
      border-radius: 4px;

      img{
        flex: 1 0 auto;
        margin-top: $standard-separation;
        width: 70%;
        opacity: 0;
      }

      >div{
        opacity: 0;
        @include background-gradientOrange;
        color: white;
        width: calc(100% - #{$standard-separation}*2);
        margin-top: $standard-separation;
        padding: $standard-separation;
        border-radius: 4px;
        @include box-shadow;
        i,p{
          display: inline;
        }
      }
      
      >a.qr{
        display: none;
      }
    }

    &:hover{
      span.visible{
        .imgEntrada{
          transition-duration: 1s;
          transform: scale(1.2);
        }
      }
      span.desplegable {
        display: flex;
        position: relative;
        animation: dropdown 1s forwards;

        img {
          opacity: 1;
          transition-duration: 1s;
          transition-delay: 0.5s;
        }

        > div {
          transition-duration: 1s;
          transition-delay: 0.4s;
          opacity: 1;
        }
      }
    }

  }

  @media screen and (min-width: $break-medium){

    >article{

      
      flex-direction: row;
      position: relative;
      font-size: 1.5em;
      display: flex;

      span.visible{
        position: relative;
        flex: 0 0 100%;
        padding-right: 20%;
        left: 0%;
      }

      span.desplegable{
        animation: none;
        z-index: 2;
        flex: 0 0 20%;
        left: -20%;
        top: -100%;
        background: transparent;
        position: relative;
        padding: $standard-separation;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
        >img{
          display: none;
        }

        >div, a{
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 0.5em;
          opacity: 1;
          width: 100%;
          margin: 4px;
          flex: 1 0 40%;
          text-align: center;
          background: rgba($dark-color, 0.8);
          padding: 8px 16px;
          >i{
            //display: block;
            text-align: center;
          }
          >p{
            margin: 0;
          }
          &:last-of-type{
            margin-bottom: 0;
          }
        }
        
        a.qr{
          display: flex;
          color: $primary-color-text;
          text-decoration: none;
          @include background-gradient;
          border-radius: 4px;
          p{
            display: inline;
          }
        }
      }

      &:hover{
        .visible{
          >img{
            filter: blur(10px);
          }
        }

        .desplegable{
          animation: none !important;
          >div  {
            animation: none;
          }
          img{
            display: none ;
          }
        }
      }
    }
  }

}

@keyframes aumentarAncho {
  0% { transform: scaleX(0.1)}
  100% { transform: scaleX(1)}

}

#compraEntradas{
  #cantidadEntradas{
    color: $primary-text-color;
    background-color: $primary-color-text;
  }
}