.contenedorEventos{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-flow: row wrap;


  &:after{
    content: "";
    flex: 0 1 calc(33.33% - #{$standard-separation}/1.5);
  }

  .evento.tarjeta{

    width: 100%;
    position: relative;
    margin-bottom: $standard-separation;
    overflow: hidden;
    border-radius: 2px;
    @include box-shadow;

    opacity: 0;
    animation: loadEvent 0.5s;
    animation-fill-mode: forwards;
    @include delayAnimation(20, 0.1);

    flex: 0 1 auto;


    @media screen and (min-width: $break-small){
      flex: 0 2 calc(50% - #{$standard-separation}/2);
    }
    @media screen and (min-width: $break-large){
      flex: 0 2 calc(33.33% - #{$standard-separation}/1.5);

    }
    @media screen and (min-width: $break-stragelarge){
      flex: 0 2 calc(25% - #{$standard-separation});
    }

    .imagenTarjeta{
      width: 100%;
      font-size: 0;
      img{
        width: 100%;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
    }

    .tituloTarjeta{
      transition-duration: 0.5s;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 16px;
      //background: linear-gradient(40deg,rgba($accent-color,0.8),rgba($primary-color, 0.8));;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;

      h2{
        text-decoration: none;
        color: white;
        line-height: 1em;
        font-weight: 700;
        margin: 0;
      }
    }

    .cuerpoTarjeta{
      transition-duration: 0.5s;
      position: absolute;
      height: 100%;
      background-color: $primary-color-text;
      top: 100%;
      width: 100%;
      padding: 100px 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border-radius: 2px;
      align-items: stretch;
      text-decoration: none;
      color: $dark-color;
      padding: $standard-separation;

      &>*{
        background-color: darken($primary-color-text, 10% );
      }

      &>.descripcion{
        width: 100%;
        flex: 2 1 100%;
        padding: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }

      &>.masDetalles{
        max-width: 100%;
        flex: 1 1 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        &>.ciudad,
        &>.fechaEvento,
        &>.precio{
          flex: 0 1 33.333%;
          text-align: center;
          padding: $standard-separation;
          >.fa {
            display: block;
            font-size: 1.2em;
            margin-bottom: 5px;
            @include gradient-text;
          }
          &>h3{
            display: inline;
          }
      }


      }
      p{
        margin: 0;
      }



    }

    &:hover{
      transition-duration: 0.2s;
      @include box-shadow2;
      .tituloTarjeta{
        transition-duration: 1s;
        top: -100%;

        h2{
          transition-duration: 0.4s;
          margin-bottom: 20%;
        }
      }

      .cuerpoTarjeta{
        transition-duration: 1s;
        top: 0;
        transition-delay: 0.2s;

      }
    }


  }
}

#detalleEvento{
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;



  #imagen{
    @include box-shadow;
    flex: 1 0 100%;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    img{
      width: 100%;
    }

  }

  #contenido{
    @include box-shadow;
    background-color: $primary-color-text;
    flex: 1 0 auto;
    margin: 0 12px;
    position: relative;
    top: -32px;
    padding: $standard-separation;
    border-radius: 4px;

    >h1{
      text-align: center;
      margin-top: 0;
      color: $primary-text-color;
    }

    #datos{
      display: flex;
      flex-wrap: wrap;
      margin: $standard-separation 0;
      >#ciudad, >#fechaEvento, >#precio{
        flex: 1 0 33.33%;
        p{
          @include gradient-text;
          margin: 0;
        }
        i{
          @include gradient-text;
          display: block;
          font-size: 2em;
        }

        text-align: center;
        text-transform: capitalize;
      }

    }

    #tituloCreador{
      margin-bottom: 0px;
    }
    #creador{
      top: $standard-separation;
      right: $standard-separation;
      z-index: 2;
      display: flex;
      text-decoration: none;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      @include box-shadow;
      >.avatar{
        display: flex;
        align-items: center;
        h2{
          margin: 0;
          text-transform: capitalize;
          margin-left: $standard-separation;
          font-size: 1.2em;
          text-align: left;
          line-height: 1em;
        }
        >img {
          width: 50px;
          height: 50px;
          border-radius: 50px;
        }
      }

      a{
        text-decoration: none;
        text-align: center;
        color: $dark-color;
        p{
          margin: 0;
          line-height: 1em;
          font-size: 0.6em;
        }
        .fa{
          font-size: 2em;
        }

      }
      .texto{
        margin-left:$standard-separation;
        h2{
          color: $dark-color;
          font-weight: 500;
          font-size: 1.2em;
          margin: 0;
        }
        p{
          margin: 0;
          font-size: 0.8em;
          color: lighten($dark-color, 5);
          line-height: 1em;
        }
      }


    }

    #descripcion{
        padding: $standard-separation;
      text-align: justify;
      margin-top: $standard-separation;
    }

    #entradasDisponibles, #infoVentaEntradas{
      margin-top: 0px;
      margin-bottom: 0;
      text-transform: uppercase;
      text-align: right;
      font-size: 0.8em;
      font-weight: 400;
    }
  }


  @media screen and (min-width: $break-large){
    flex-direction: row !important;
    flex-wrap: nowrap;


    
    #imagen{
      flex: 1 0 75%;
      flex-wrap: nowrap;
    }

    #contenido{
      flex: 0 0 25%;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      #entradas{
        order: 3;
      }

      #descripcion{
        order: 2;
      }

    }

  }
}

#cardNuevoEvento{
  border: 0px dashed lighten($dark-color, 50%);
  margin-bottom: $standard-separation;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 30px;
  width: 100%;
  color: $primary-color-text ;
  @include background-gradientOrange;
  @include box-shadow;

  >.fa{
    font-size: 3em;
  }
  p{
    margin: 5px;
    text-transform: uppercase;
  }
  
  &:active{
    color: inherit;
  }
  @media screen and (min-width: $break-small){
    flex: 0 2 calc(50% - #{$standard-separation}/2);
  }
  @media screen and (min-width: $break-large){
    flex: 0 2 calc(33.33% - #{$standard-separation}/1.5);

  }
  @media screen and (min-width: $break-stragelarge){
    flex: 0 2 calc(25% - #{$standard-separation});
  }
}

#busqueda{
  $searchActionSize: 80px;
  position: fixed;
  bottom : calc(-#{$searchActionSize}/2);
  width: 100%;
  transition-duration: 1s;
  left: 0;

  >#iconoBusqueda{
    position: relative;
    left: calc(50% - #{$searchActionSize}/2);
    height: #{$searchActionSize};
    width: #{$searchActionSize};
    border-radius: calc(#{$searchActionSize}/2);
    text-align: center;
    color: $primary-color-text  ;
    @include background-gradientOrange;
    @include box-shadow2;
    line-height: calc(#{$searchActionSize}/2);
    font-size: 1.4em;
    z-index: 10;
    transition-duration: 1s;
    
    >p{
      display: none;
    }
  }

  >#iconoBusqueda.inicioPagina{
    animation: 1s animateSearchIn forwards;

    @keyframes animateSearchIn {
      0% {transform: scale(2)}
      100%{ transform: scale(1)}

    }
  }

  >#iconoBusqueda.cerrarBusqueda{
    animation: 0.5s animateSearchOut forwards;

    @keyframes animateSearchOut {
      0% {left: $standard-separation; line-height: $searchActionSize}
      //50%{line-height: $searchActionSize}
      100%{left:calc(50% - #{$searchActionSize}/2) ; line-height: calc(#{$searchActionSize}/2);}

    }
  }

  #iconoCerrar{
    display: none;
    position: absolute;
    color: $primary-color-text;
    right: $standard-separation;
    font-size:2em;
    top: -$standard-separation;
    text-shadow: black;
    transition-duration: 1s;
  }
  
  #buscarEventos{
    overflow: hidden;
    padding: 0px;
    max-height: 0px;
    opacity: 0;
    transition-duration: 1s;
    
    >#submitBusqueda{
      display: none;
    }
  }

  #backgroundBusqueda{
    position: absolute;
    @include background-gradient;
    top: calc(#{$searchActionSize}/2);
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition-duration: 1s;
  }

  #backgroundWeb{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    background: $dark-color;
    opacity: 0;
    top: 100%;
    z-index: -2;
    visibility: hidden;
    top: 0;
    transition-duration: 1s;
  }

  #textoBusqueda{
    position: absolute;
    background: white;
    top: 18px;
    width: calc(100% - #{$searchActionSize} - #{$standard-separation});
    opacity: 0;
    left: -200px;
    padding-left: calc(#{$standard-separation}*2);
    color: $dark-color;
    z-index: 2;
    transition-duration: 1s;
  }

  &.busquedaActiva {
    //transition-duration: 1s;
    bottom: 0px;

    > #iconoCerrar{
      display: block;
      transition-delay: 1s;
      transform: rotateY(360deg);
      transition-duration: 1s;
    }
    
    > #iconoBusqueda {
      animation: 1s animateSearch forwards;

      @keyframes animateSearch {
        0%{line-height: calc(#{$searchActionSize});}
        50%{line-height: $searchActionSize; left:calc(50% - #{$searchActionSize}/2)}
        100%{line-height: $searchActionSize; left: $standard-separation}
      }

    }

    #backgroundBusqueda {
      transition-duration: 1s;
      opacity: 1;
    }

    #buscarEventos{
      transition-duration: 1s;
      max-height: 200px;
      opacity: 1;
    }

    #textoBusqueda{
      transition-delay: 0.2s;
      transition-duration: 1s;
      left: $searchActionSize;
      opacity: 1;
      @include box-shadow2;
    }

    #backgroundWeb{
      transition-duration: 1s;
      opacity: 0.6;
      visibility: inherit;
    }
  }

}

@media screen and (min-width: $break-large) {
  #main.Eventos{
    display: flex;
    flex-direction: column;

    >.contenedorEventos{
      order: 2;
    }

    #busqueda{
      all: inherit;
      order: 1;
      display: flex;
      flex-direction: row-reverse;
      padding: 0;
      margin: 0;
      width: 100%;
      margin-bottom: $standard-separation;
      align-items: stretch;
      #backgroundBusqueda, #backgroundWeb{
        display: none;
      }
      >#iconoBusqueda{
        display: none;
        /*animation: none;
        margin: 0;
        width: auto;
        border-radius: 4px;
        left: 0;
        text-align: left;
        padding: calc(#{$standard-separation}/2) 16px;
        font-size: 0.8em;
        line-height: inherit;
        height: auto;
        display: flex;
        align-items: center;
        @include box-shadow;
        >p{
          display: inline;
          font-family: 'Roboto', sans-serif;
          margin-left: 5px;
          font-weight: 100;
          text-align: left;
          margin: 0;
          line-height: inherit;
        }
        i{
          margin-right: 5px;
        }*/
      }

      >#buscarEventos{
        animation: none;
        transition-duration: 0s;
        max-height: inherit;
        opacity: 1;
        overflow: inherit;
        margin-right: 4px;
        display: flex;
        align-items: stretch;

        >#submitBusqueda{
          display: block;
          margin: 0 0 0 5px;

          &:hover{
            letter-spacing: 5px;
            @include box-shadow2;
          }
        }
        >#textoBusqueda{
          position: inherit;
          opacity: 1;
          width: 100%;
          margin: 0;
          padding: 10px 16px;
        }
        >#categorias{
          animation: none;
          flex-direction: column;
          overflow: inherit;
          padding-bottom: 0;
          display: none;
          >.contenedorCategoria{
            >.checkmark{
              opacity: 0;
              @include delayAnimation(20, 0.1);
              animation: 1s zoomOut forwards;
              width: 100%;
              text-align: left;
              margin: 0 0 10px 0;
              //@include background-gradient;
              //color: $dark-color;
            }
          }
        }

      }

      &.busquedaActiva{
        bottom: inherit;

        > #iconoCerrar{
          display: none
        }

        > #iconoBusqueda {
          animation: none;

        }

        #backgroundBusqueda {
          display: none;
        }

        #buscarEventos{
          transition-duration: 0s;
          max-height: inherit;
        }

        #textoBusqueda{
          transition-duration: 0s;
        }

        #backgroundWeb{
          display: none;
        }
      }
    }

    #contadorEventos{
      order: 3;
      position: absolute;
    }

    #tituloDestacados, #tituloEventos, #tituloNuevoEvento, #slider{
      display: none;
    }

  }
}
#tituloDestacados, #tituloEventos, #tituloNuevoEvento{
  margin: 0;
  color: $dark-color;
}

#slider{
  width: 100%;
  display: flex;
  overflow-x: scroll;
  margin-bottom: $standard-separation;
  >article.slide{
    flex: 1 0 80%;
    position: relative;
    margin-right: $standard-separation;
    border-radius: 4px;
    overflow: hidden;
    .gradientSlider{
      width: 100%;
      height: 100%;
      position: absolute;
    }

    .imageSlider {
      width: 100%;
    }

    .tituloSlider{
      position: absolute;
      top: 0;
      text-align: center;
      color: $primary-color-text;
      font-size: 1.5em;
      line-height: 1em;
      padding: $standard-separation;
      margin: 0;
    }
  }

}




#notFound{
  width: 100%;
  text-align: center;
  .fa{
    font-size: 5em;
  }

}