label{
  display: block;
}
form{
  padding: $standard-separation;
}
input[type='email'],input[type='password'], input[type='text'], input[type='date'], input[type='number'],input[type='file'],input[type='datetime'],  select, textarea{
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  background-color: rgba($primary-color-text, 0.2);
  color: $primary-color-text;

  &:focus{
    border-left-color: $accent-color;
    outline: none;
    transition-duration: 0.5s;
    @include box-shadow2;
  }

  &:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 30px $primary-color-text inset;
    outline: none;
  }

  &:invalid{
    color: $error-color;
    background: rgba(#0D1313, 0.5);
  }
}


.button , input[type='submit']{
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-weight: 100;
  text-transform: uppercase;
  @include background-gradient;
  color: $primary-color-text;
  @include box-shadow;
  letter-spacing: 5px;
  transition-duration: 0.5s;
  //height: $standard-separation;
  &:hover{
    letter-spacing: 15px;
    font-weight: 100;
    transition-duration: 1s;

  }
}

#nuevoEvento{
  display: flex;
  flex-direction: column;

  #formNuevoEvento{
    flex: 1 0 auto;
    border-radius: 4px;
    background: linear-gradient(45deg, $primary-color-1, $primary-color-2);
    border-radius: 4px;
    color: $primary-color-text;
    font-weight: 100;

    >input[type='submit']{
      background: linear-gradient(45deg, #FCAF5D, #FA528A);
      color: $primary-color-text;
      //@include gradient-text;
    }

    #degradados{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      input{
        flex: 0 2 calc(50% - #{$standard-separation}/4);
      }
    }


  }

  #previewEvento{
    margin-top: $standard-separation;

    flex: 1 0 auto;
    padding: $standard-separation;
    background-color: $primary-color-text;
    border-radius: 4px;

    h2{
      text-align: center;
      font-weight: 900;
      @include gradient-text;
      text-transform: uppercase;
      margin: 0;
    }

    &>#detalleEvento{
      flex-direction: column !important;

      >#contenido{
        top: -2em !important;
      }
    }
    
  }

  @media screen and (min-width: $break-large){
    flex-direction: row;
    justify-content: space-between;

    #previewEvento, #formNuevoEvento{
      flex: 0 0 calc(50% - #{$standard-separation}/2);
      margin-top: 0;
    }
  }
}


.error{
  max-width: 500px;
  padding: 16px;
  border-radius: 4px;
  background: $dark-color;
  color: $primary-color-text;
  text-align: center;
  margin-bottom: $standard-separation ;
  display: flex;
  align-items: center;

  animation-delay: 0.2s;
  animation: shake 1s;
  transform: translate3d(0, 0, 0);


  @media screen and (min-width: $break-small){
    margin: $standard-separation auto !important;
  }

  .fa{
    font-size: 2em;
    flex: 0.3 0 auto;
  }

  p{
    margin: 0;
  }
}

#categorias{
  display: flex;
  overflow-x: scroll;
  padding: $standard-separation 0;

  @media screen and (max-width: $break-small){
    &.incitateScroll > .contenedorCategoria:first-child{
      animation: inciteScroll 2s infinite;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
  .contenedorCategoria{
    //background: linear-gradient(45deg, $primary-color-1, $primary-color-2);
    display: flex;
    color: $primary-color-text;
    input{
      position: absolute;
      display: none;
      opacity: 0;
      &:checked ~ .checkmark {
        background-color: $primary-color-text;
        color: $dark-color;
        transition-duration: 0.2s;
      }
    }

    .checkmark{
      border-radius: 4px;
      text-align: center;
      padding: 16px;
      @include box-shadow2;
      margin: 5px;
    }
  }
}
