#login, #formularioNuevoUsuario{
  border-radius: 4px;
  @include background-gradientOrange;
  color: $primary-color-text;

  max-width: 500px;
  margin: auto;


  .error{
    max-width: 500px;
  }
}

#main > #login, #main> #formularioNuevoUsuario {
  //animation: rotate 1s;

  @media screen and (min-width: $break-small){
  }

}

