#conversaciones{
  >#listaConversaciones{
    padding-left: 0;
    margin: 0;
    >.conversacion{
      @include delayAnimation(10, 0.1);
      position: relative;
      animation: desplazarDerecha 0.5s forwards;
      opacity:0;
      list-style: none;
      >a{
        display: flex;
        flex-direction: row;
        background-color: $primary-color-text;
        padding: $standard-separation;
        justify-content: space-between;
        text-decoration: none;
        align-items: center;
        position: relative;
        border-bottom: 1px solid darken($primary-color-text, 5);
        >.avatar{
          width:60px;
          height: 60px;
          border-radius: 30px;
          @include box-shadow;
          margin-right: $standard-separation;
        }

        .datos{
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          flex: 1 1 80%;
          >h3.nombre{
            margin: 0;
            color: $primary-text-color;
            text-transform: capitalize;
          }
          >p{
            margin: 0;
            color: lighten($primary-text-color, 20);
          }
          p.fecha{
            font-style: italic;
            font-size: 0.8em;
          }
        }

        >i.verMensajes{
          font-size: 2em;
          color: darken($primary-color-text, 20);
          flex: 0 0 40px;
          text-align: right;
        }
        >i.sinLeer, i.leidoDestinatario{
          position: absolute;
          left: 56px;
          top: 56px;
          background-color: $primary-color-text;
          border-radius: 100%;
          padding: 4px;
          font-size: 1em;
          color: $accent-color2;
          @include box-shadow2;
        }
      }

    }
  }
}

#main.Mensajes{
  position: absolute;
  height: 100%;
  width: 100%;
  padding-bottom: $standard-separation;
  top: 0;
  #mensajes{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    >#infoConversacion{
      padding: $standard-separation;
      display: flex;
      align-items: center;
      @include background-gradientOrange;
      color: white;
      >.avatar{
        height: 40px;
        >img {
          width: 40px;
          height: 40px;
          border-radius: 30px;
          @include box-shadow;
          margin-right: $standard-separation;
        }
      }

      >h1{
        text-transform: capitalize;
        margin: 0;
      }

      >.volver{
        font-size: 2em;
        margin-right: $standard-separation;
        color: $primary-color-text;
      }
    }

    >#historialMensajes{
      list-style: none;
      margin: 0;
      padding: $standard-separation;
      flex: 1;
      overflow-y: scroll;
      overflow-x: hidden;
      li{
        padding: 4px $standard-separation;
        background-color: darken($primary-color-text, 5);
        margin-bottom: 10px;
        border-radius: 4px;
        width: 90%;
        opacity: 0;
        position: relative;
        @include delayAnimation(50, 0.1);
        animation: desplazarDerecha 0.5s forwards;

        &.enviadoPorMi{
          text-align: right;
          margin-left: auto;
          animation-name:desplazarIzquierda ;
        }

        &.enviadoPorContacto{
          @include background-gradient;
          @include box-shadow;
          animation-name:desplazarDerecha ;


          color: $primary-color-text;
          text-transform: capitalize;
        }
      }
    }

    >#enviarMensaje{
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      >#groupTexto{
        position: relative;
        flex: 1 0 80%;
        input{
          @include background-gradient;
          margin: 0;
          border-bottom-right-radius: 0px;
          border-top-right-radius: 0px;
          padding: $standard-separation;
        }

        label{
          transition-duration: 0.4s;
          padding: 10px 10px;
          position: absolute;
          color: $primary-color-text;
          top: 0;
          >i{
            margin-right: 5px;
          }
        }

        input:focus ~ label, input:valid ~ label
        {
          transition-duration: 0.7s;
          color: $primary-text-color;
          font-weight: 800;
          top: -80%;
          color: $dark-color;
          background-color: $primary-color-text;
          padding: 4px 16px;
          border-radius: 4px;
        }



      }
      >#enviar{
        flex: 1 0 20%;
        border: none;
        @include background-gradientOrange;
        color: $primary-color-text;
        padding: 10px;
        border-radius: 0 4px 4px 0 ;
      }

      &.error{
        animation: shake 1s forwards;
      }

      &:hover {
        background-color: rgba($dark-color, 0.89);
        transition-duration: 1s;
        &~ #infoConversacion{
          display: none;
        }
      }
    }
  }
}