@mixin box-shadow{
  //-webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  //box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.05)
}

@mixin box-shadow2{
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

@mixin gradient-text{
  background: -webkit-linear-gradient(lighten(#4759F6,1%),lighten(#5C258D,20%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin background-gradient{
  background: linear-gradient(45deg, $primary-color-1, $primary-color-2);
}

@mixin background-gradientOrange{
  background: linear-gradient(45deg, $accent-color, $accent-color2);
}

@mixin delayAnimation($elements, $retrasoPorEvento){
  @for $i from 0 to $elements {
    &:nth-child(#{$i}) {
      animation-delay: calc(#{$i}s * #{$retrasoPorEvento});
    }
  }
}