.blur{
  animation: blurChange 0.9s;
  filter: blur(20px);

  >#main{
    filter: blur(20px);
    transition-duration: 1s;
  }
}

#modalLogin{
  transition-duration: 1s;
  position: fixed;
  top: 0;
  animation: backgroundOpacity 0.5s;
  background-color: rgba($dark-color, 0.9);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;



  >#login{
    width: 90%;
    animation: zoomIn  0.5s ease-in;
    >#closeModal{
      margin-left: auto;
      display: block;
      text-align: right;
    }
  }
  
  &.hidden{
    display: none;
  }
}

