header {
  display: flex;
  align-items: center;
  background: $darker-color;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  @include box-shadow;

  @media (max-width: $break-medium2) {
    flex-wrap: wrap;
    .site-nav {
      @include background-gradient;
      order: 2;
      flex-basis: 100%;

      &>ul{
        width: 100%;
        li{
          flex: 1;
        }
      }
      a {
        width: 100%;
        padding: 10px;
        font-size: 0.7em;

        .fa{
          font-size: 2em;
        }

      }

      &.notLogged{
        display: none;
      }
    }
    .account-actions {
      margin-left: auto;
    }
  }
}

.logo {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  font-weight: 100;
  padding: 10px 20px;
}

.site-nav {
  text-align: center;
  width: 100%;
  overflow-x: scroll;
  flex: 1;

  &::-webkit-scrollbar {
    display: none;
  }

  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
  }

  .active {
    a {
      color: white;

      &:hover{
        transition-duration: 1s;
      }
    }
  }

  a {
    color: rgba($primary-color-text, 0.5);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 400;
    white-space: nowrap;

    &>.fa{
      display: block;
      margin-bottom: 5px;
      font-size: 2em;
    }

    &:hover{
      transition-duration: 1s;
      //color: linear-gradient(220deg, rgba(#4759F6,0.2), rgba(#5C258D,0.2));
      //@include gradient-text;
      @include background-gradientOrange;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }


}

.account-actions {
  display: flex;
  align-items: center;
  padding-right: 10px;
  min-width: 125px;

  >a{
    padding: 4px 10px 4px 6px;
    border-radius: 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: $primary-color-text;
    @include  background-gradient;


    &#miCuenta>i, &#iniciarSesion>i, &#registrarse>i{
      margin-right: 5px;
    }
  }

  #iniciarSesion{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    @include background-gradientOrange;

  }

  #registrarse{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 5px;
  }

  #logout{
    border-radius: 15px;
    margin-right: 5px;
    padding: 4px 6px;
    background: rgba($primary-color-text, 0.1);
    i{
      color: $primary-color-text;
    }
    >span{
      >span{
        font-size: 0.8em;
        text-transform: capitalize;
      }
    }

    &:hover{
      @include background-gradient;

      i{
        color: $primary-color-text !important;
        -webkit-background-clip: inherit;
        -webkit-text-fill-color: inherit;
      }
    }

  }

}
.account-dropdown {
  position: relative;
  margin-right: 10px;
  //padding: 30px 10px;
  > ul {
    list-style: none;
    left: -50%;
    position: absolute;
    display: none;
    width: 100px;
    padding: $standard-separation;
    //background-color: $dark-color;
    >li{
      width: 100px;
    }
  }

  &:hover{
    >ul{
      display: block;
    }
  }
}


.sign-out-link {
  color: #E2E6E7;
  text-transform: uppercase;
  font-size: 0.8rem;
}