#perfilUsuario{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  max-width: 1100px;
  >#cabecera{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 32px;
    border-radius: 4px;
    margin-bottom: $standard-separation;
    background-image: linear-gradient(45deg, $primary-color-1,$primary-color-2,$accent-color2,$accent-color);
    background-size: 600%;
    background-position: 0 0;
    height: 100%;
    justify-content: center;
    /* Animation */
    animation: moverFondo 20s infinite;
    @include box-shadow;


    img{
      width: 100px;
      height: 100px;
      border-radius: 75px;
      @include box-shadow2;
      border: 2px dashed rgba($primary-color-text, 0.5);
      padding: 5px;
      animation: zoomIn 1s;
    }

    h2{
      color: $primary-color-text;
      font-family: Roboto;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 5px;
      text-align: center;
    }
  }

  >#datos{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    >article, >.accion{
      text-decoration: none;
      color: $primary-text-color;
      opacity: 0;
      @include delayAnimation(10, 0.1);
      animation: desplazarDerecha 0.5s;
      animation-fill-mode: forwards;
      position: relative;
      background-color: $primary-color-text;
      border-radius: 4px;
      padding: $standard-separation;
      display: flex;
      align-items: center;
      @include box-shadow;
      margin-bottom: calc(#{$standard-separation}/2);
      p{
        font-size: 1.2em;
        margin: 0;
        flex: 1 0 auto;
        font-weight: 100;
        text-transform: capitalize;
      }

      i{
        font-size: 1.5em;
        flex: 0 0 auto;
        @include gradient-text;
        margin-right: 16px;
      }
    }

    [class~='accion']:last-of-type{
      margin-right: 0 !important;
    }
    h2{
      margin-bottom: 4px;
      color: lighten($primary-text-color, 20);
      font-weight: 700;
      flex: 1 0 100%;

      &:first-child{
        margin-top: 0;
      }
    }

    >article{
      box-shadow: none;
      border-radius: 0;
      margin-bottom: 0;
    }
  }

   @media screen and (min-width: $break-small){

     margin: auto;
     >#datos{
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-between;

       >article , >.accion{
         animation: desplazarAbajo 1s;
         animation-fill-mode: forwards;
         flex: 1 0 auto; //calc(25% - #{$standard-separation}/2);
         margin: 0 $standard-separation $standard-separation 0;

         &:last-child{
           margin: 0 0 $standard-separation 0;
         }
       }
     }

   }
}


a.button{
  @include background-gradient;
  text-transform: uppercase;
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 13px ;
  color: $primary-color-text;
  text-decoration: none;
  >*{
    display: inline;
    font-weight: 400 !important;

  }
  >.fa{
    color: $primary-color-text;
    -webkit-text-fill-color: inherit !important;
  }
}

.button.orange{
  @include background-gradientOrange;
}

