#main.Registrate{
  h1{
    margin: 0;
    color: $primary-text-color;
    font-weight: 900;
  }

  h2{
    margin-top: 0;
    font-size: 1em;
    font-weight: 900;
    color: $primary-text-color;
    margin-bottom: 4px;
  }

  h1, h2{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .g-recaptcha{
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    margin-top: 16px;
  }
}