#usuarios{
  display: flex;
  flex-direction: column;
  background: $primary-color-text;
  @include box-shadow;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  >.usuario{
    padding: $standard-separation;
    list-style: none;
    border-bottom: 1px solid lighten($dark-color, 80%);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fdfdfd;

    >.avatar{
      width: 40px;
      height: 40px;
      border-radius: 20px;
      margin-right: $standard-separation;
      flex: 0 0 auto;
      @include box-shadow;
      background-color: white;
    }

    >.nombre{
      margin: 0px;
      font-weight: bold;
      text-transform: capitalize;
      flex: 1 0 20%;
    }

    >.correo{
      margin: 0;
      flex: 1 0 20%;
      display: none;
    }

    >.rol{
      margin: 0;
      flex: 1 0 10%;
      display: none;
    }

    >.acciones{
      flex: 1 0 10%;
      text-align: right;

      >.editar, >.borrar{
        text-decoration: none;
        font-size: 1.4em;
        color: lighten($dark-color, 80%);
      }

      >.editar{

        &:hover{
          color: $accent-color;
        }
      }

      >.borrar{

        &:hover{
          color: red;
        }

      }


    }

    &:hover{
      @include box-shadow;
      background-color: white;
      transform: scale(1.01);
      transition-duration: 0.2s;
    }

    &.seleccionado{
      background-attachment: fixed;
      background-position: center;
      @include background-gradientOrange;
      color: white;
      transform: scale(1.02);
      transition-duration: 0.5s;
      border: none;
      z-index: 10;

      &:hover{
        transform: scale(1.025);
        z-index: 11;
      }

      >.correo, >.rol{
        display: block;
      }

    }

  }

  
  @media screen and (min-width: $break-medium) {
    >.usuario{
      >.correo{
        display: inherit;
      }
      >.rol{
        display: inherit;
      }
    }
  }

}