$break-small: 630px;
$break-medium: 768px;
$break-medium2: 900px;
$break-large: 992px;
$break-stragelarge: 1980px;

$standard-separation: 16px;
$header-height-desktop: 77px;
$header-height-mobile: 109px;
$header-height-mobile-not-logged: 44px;

$font-family: 'Poppins', sans-serif;

@import "palette";
@import "animations";
@import "mixins";
@import "navbar";
@import "login";
@import "registro";
@import "footer";
@import "forms";
@import "events";
@import "modal";
@import "profile";
@import "entradas";
@import "userList";
@import "mensajes";
*{
  box-sizing: border-box;
}



body{
  background-color: #efefef;
  font-family: $font-family;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

#main{
  filter: blur(0px);

  //position: relative;
  padding-top: calc( #{$header-height-mobile} + #{$standard-separation});
  padding-left: 16px;
  padding-right: 16px;
  margin: auto;
  //flex: 1;

  @media screen and (min-width: $break-medium2){
    padding-top: calc( #{$header-height-desktop} + #{$standard-separation}) !important;
  }

  @media screen and (min-width: $break-large){
    width: 90%;
  }

  @media screen and (min-width: $break-stragelarge){
    width: 80%;
  }

  &.notLogged{
    padding-top: calc( #{$header-height-mobile-not-logged} + #{$standard-separation});
  }

}

.hidden{
  display: none;
}

.error{

}

//
//.contenedor {
//  display: flex;
//  flex-wrap: wrap;
//  width: 90%;
//  margin:auto;
//}
//
//.tarjeta {
//  display: flex;
//  flex-direction: row;
//  flex-wrap: nowrap;
//  align-items: stretch;
//  align-content:stretch;
//  margin: 30px;
//  background-color: white;
//  border-radius: 1em;
//  overflow: hidden;
//  position: relative;
//}
//
//.imagenTarjeta{
//  flex: 0 0 35%;
//}
//
//.imagenTarjeta:before{
//  content: "";
//  position: absolute;
//  display: block;
//  height: 100%;
//  border-right: 3px dashed #ededed;
//  left: 34.9%;
//}
//
//
//.imagenTarjeta > img {
//  width: 100%;
//  /*height: 260px;*/
//  outline-offset: -4px;
//}
//
//
//.cuerpoTarjeta {
//  position: relative;
//  box-sizing: border-box;
//  flex: 0 0 55%;
//  display: flex;
//  flex-direction: column;
//  justify-content: space-between;
//  padding:40px;
//}
//
//
//.cuerpoTarjeta:before, .cuerpoTarjeta:after {
//  content: "";
//  position: absolute;
//  display: block;
//  width: 1em;
//  height: 1em;
//  background: #efefef;
//  border-radius: 50%;
//  left: -0.5em;
//}
//.cuerpoTarjeta:before {
//  top: -0.5em;
//}
//.cuerpoTarjeta:after {
//  bottom: -0.5em;
//}
//
//.cuerpoTarjeta > .tituloTarjeta {
//  font-size: 1.5em;
//  text-decoration: none;
//  color: #202020;
//  margin: 0;
//}
//.cuerpoTarjeta > .tituloTarjeta > h2 {
//  margin: 0px;
//}
//
//.lateralTarjeta {
//  flex: 2 0 100px;
//  display: flex;
//  flex-direction: column;
//  justify-content: space-between;
//  padding-top: 40px;
//  box-shadow: #999     2px 2px 3px;
//}
//
//.lateralTarjeta  {
//  border-left: 2px dashed #ededed;
//}
//.lateralTarjeta > * {
//  text-align: center;
//}
//.lateralTarjeta > .fechaEvento > .fa {
//  font-size: 2em;
//  margin-bottom: 5px;
//  color: #777;
//}
//.lateralTarjeta > .fechaEvento >.dia {
//  font-size: 2.2em;
//  margin-bottom: -10px;
//}
//
//.lateralTarjeta > .fechaEvento > .mes {
//  font-size: 1.5em;
//}
//
//.lateralTarjeta > .fechaEvento {
//}
//
//.lateralTarjeta:hover{
//  background-color: #5FC6C2;
//  color: white;
//  transition-duration: 0.2s;
//}
//
//.error{
//  padding: 10px;
//  background-color: #ff795c;
//}
//
//
///* FORMULARIO DE REGISTRO */
//
//#formularioNuevoUsuario> *{
//  display: block;
//  margin: 5px;
//}
///* ---- FIN FORMULARIO REGISTRO -----*/
//
//
///* LOGIN */
//#login{
//  width: 20%;
//  padding: 20px;
//  text-align: center;
//  margin: auto;
//  background-color: white;
//}
//
///* -- FIN LOGIN -- */
